# Heroes Of Pymoli Data Analysis Summary

* Of the 1163 active players, the vast majority are male (82%). There also exists, a smaller, but notable proportion of female players (16%).

* Our peak age demographic falls between 20-24 (42%) with secondary groups falling between 15-19 (17.80%) and 25-29 (15.48%).

* Our players are putting in significant cash during the lifetime of their gameplay. Across all major age and gender demographics, the average purchase for a user is roughly $491.   
-----

In [43]:
# Add something here
#import dependencies
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format
percentFormat = '{:,.2f}'.format
import numpy as np

In [44]:
#make imported file readable
purchase_data = "purchase_data.json"
purchase_data_df = pd.read_json(purchase_data)
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,$3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$2.32,Eolo46
2,34,Male,174,Primitive Blade,$2.46,Assastnya25
3,21,Male,92,Final Critic,$1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,$1.27,Aela59

In [45]:
#count players
playerCount = purchase_data_df['SN'].value_counts()
playerCount_df = pd.DataFrame({"Total Players": [playerCount.count()]})
playerCount_df

   Total Players
0            573

In [46]:
removed_duplicates = purchase_data_df.drop_duplicates(['SN'], keep="first")
#removed_duplicates.head()

In [48]:
#purchasing analysis

uniqueItems = purchase_data_df['Item ID'].value_counts().count()

avgPurchasePrice = round(purchase_data_df['Price'].mean(),2)

totalPurchases = purchase_data_df['Item ID'].count()

totalRev = round(purchase_data_df['Price'].sum(),2)

purchasingAnalysis_df = pd.DataFrame({"Number of unique items" : [uniqueItems], 
                                      "Average purchase price" : [avgPurchasePrice],
                                     "Total # of purchases: " : [totalPurchases],
                                     "Total Revenue" : [totalRev]})
purchasingAnalysis_df

,Average purchase price,Number of unique items,Total # of purchases:,Total Revenue
0,$2.93,183,780,"$2,286.33"

In [72]:
#gender demographics
df_gender_percentbreakdown = purchase_data_df["Gender"].value_counts(normalize=True)

df_gender_breakdown = removed_duplicates['Gender'].value_counts()

gender_summary_table = pd.DataFrame({
                           "Percentage of Players": df_gender_percentbreakdown,
                           "Total Count": df_gender_breakdown})
gender_summary_table

AttributeError: 'function' object has no attribute 'percentFormat'

In [52]:
#gender purchase analysis
genderGroupBy_df = purchase_data_df.groupby(["Gender"])
avgPurchasePrice = round(genderGroupBy_df['Price'].mean(),2)
totalPurchasePrice = genderGroupBy_df['Price'].sum()
normalizedTotal = totalPurchasePrice/df_gender_breakdown
normalizedTotal

gender_purchase_analysis = pd.DataFrame({
                                       "Purchase Count" : genderGroupBy_df['Gender'].count(),
                                       "Average Purchase Price" : avgPurchasePrice,
                                       "Total Purchase Value" : totalPurchasePrice, 
                                       "Normalized Totals" : normalizedTotal
                                        })
gender_purchase_analysis

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Female,$2.82,$3.83,136,$382.91
Male,$2.95,$4.02,633,"$1,867.68"
Other / Non-Disclosed,$3.25,$4.47,11,$35.74

In [54]:
#age demographics
ageDemographics_df = pd.DataFrame(removed_duplicates)

ageBin = [5,9,14,19,24,29,34,39,45]
ageGroupNames = ['<10', '10-14', '15-19', '20-24', 
                 '25-29','30-34','35-39','40+']

ageDemographics = pd.cut(ageDemographics_df["Age"], 
                         ageBin, labels=ageGroupNames).value_counts()

playerPercentage = (ageDemographics/removed_duplicates['Item ID'].count())*100

ageDemo_analysis = pd.DataFrame({"Percentage of Players": playerPercentage, "Total Count": ageDemographics})
final_ageDemo_analysis_df = ageDemo_analysis.reindex(['<10', '10-14', '15-19', '20-24','25-29','30-34','35-39','40+'])
final_ageDemo_analysis_df

       Percentage of Players  Total Count
<10                    $3.32           19
10-14                  $4.01           23
15-19                 $17.45          100
20-24                 $45.20          259
25-29                 $15.18           87
30-34                  $8.20           47
35-39                  $4.71           27
40+                    $1.92           11

In [71]:
agePurchasing_df = pd.DataFrame(purchase_data_df)

ageBin = [0,9,14,19,24,29,34,39,45]
ageGroupNames = ['<10','10-14', '15-19', '20-24', 
                 '25-29','30-34','35-39','40+']
purchaseBinned = pd.cut(purchase_data_df["Age"], ageBin, labels=ageGroupNames,right=True)
purchaseCount = purchaseBinned.value_counts()
grouped = purchase_data_df.groupby(purchaseBinned)
meanPurchasePrice = grouped['Price'].mean()
totalPurchaseP = purchaseCount*meanPurchasePrice
normalizedTotal2 = totalPurchaseP/ageDemographics

agePurchasing_analysis = pd.DataFrame({"Purchase Count": purchaseCount, "Average Purchase Price": meanPurchasePrice,
                                       "Total Purchase Value": totalPurchaseP,"Normalized Total": normalizedTotal2})
agePurchasing_analysis_df = agePurchasing_analysis.reindex(['10-14', '15-19', '20-24','25-29','30-34','35-39','40+','<10'])
FinalAgePurchasing_analysis_df = agePurchasing_analysis_df[["Purchase Count","Average Purchase Price","Total Purchase Value", "Normalized Total"]]
FinalAgePurchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Total
10-14,35,$2.77,$96.95,$4.22
15-19,133,$2.91,$386.42,$3.86
20-24,336,$2.91,$978.77,$3.78
25-29,125,$2.96,$370.33,$4.26
30-34,64,$3.08,$197.25,$4.20
35-39,42,$2.84,$119.40,$4.42
40+,17,$3.16,$53.75,$4.89
<10,28,$2.98,$83.46,$4.39

In [56]:
#Top Spenders
SNGroupBy_df = purchase_data_df.groupby(["SN"])
purchaseCount = SNGroupBy_df['Item ID'].count()
avgPurchasePrice = round(SNGroupBy_df['Price'].mean(),2)
TotalPurchaseValue = purchaseCount*avgPurchasePrice

TopSpender_analysis = pd.DataFrame({
                                       "Purchase Count" : purchaseCount,
                                       "Average Purchase Price" : avgPurchasePrice,
                                       "Total Purchase Value" : TotalPurchaseValue 
                                        }).sort_values('Total Purchase Value',ascending=False).head()
FinalTopSpender_analysis = TopSpender_analysis[["Purchase Count","Average Purchase Price","Total Purchase Value"]]
FinalTopSpender_analysis

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Undirrala66               5                   $3.41                $17.05
Saedue76                  4                   $3.39                $13.56
Mindimnya67               4                   $3.18                $12.72
Haellysu29                3                   $4.24                $12.72
Eoda93                    3                   $3.86                $11.58

In [58]:
##Most Popular Items

popularItems_GroupBy_df = purchase_data_df.groupby(["Item ID", "Item Name"])

itemPrice = popularItems_GroupBy_df["Price"].sum()/popularItems_GroupBy_df["Item ID"].count()

popularity_analysis = pd.DataFrame({
                                       "Item Count" : popularItems_GroupBy_df["Item ID"].count(),
                                        "Item Price": itemPrice,
                                       "Total Purchase Price" : popularItems_GroupBy_df["Price"].sum()
                                        }).sort_values('Item Count',ascending=False).head()
popularity_analysis

,,Item Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
31,Trickster,9,$2.07,$18.63
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41

In [59]:
## Most Profitable Items

profitability_GroupBy_df = purchase_data_df.groupby(["Item ID", "Item Name"])

profitable_analysis = pd.DataFrame({
                                       "Item Count" : profitability_GroupBy_df["Item ID"].count(),
                                        "Item Price": profitability_GroupBy_df["Price"].mean(),
                                       "Total Purchase Price" : profitability_GroupBy_df["Price"].sum()
                                        }).sort_values('Total Purchase Price',ascending=False).head()
profitable_analysis

,,Item Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88