In [49]:
#import dependencies
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format
percentFormat = '{:,.2f}'.format
import numpy as np

In [51]:
#make imported file readable
purchase_data = "purchase_data.json"
purchase_data_df = pd.read_json(purchase_data)
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,$3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$2.32,Eolo46
2,34,Male,174,Primitive Blade,$2.46,Assastnya25
3,21,Male,92,Final Critic,$1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,$1.27,Aela59

In [52]:
#count players
playerCount = purchase_data_df['SN'].value_counts()
playerCount_df = pd.DataFrame({"Total Players": [playerCount.count()]})
playerCount_df

   Total Players
0            573

In [53]:
removed_duplicates = purchase_data_df.drop_duplicates(['SN'], keep="first")
#removed_duplicates.head()

In [54]:
#purchasing analysis

uniqueItems = purchase_data_df['Item ID'].value_counts().count()

avgPurchasePrice = round(purchase_data_df['Price'].mean(),2)

totalPurchases = purchase_data_df['Item ID'].count()

totalRev = round(purchase_data_df['Price'].sum(),2)

purchasingAnalysis_df = pd.DataFrame({"Number of unique items" : [uniqueItems], 
                                      "Average purchase price" : [avgPurchasePrice],
                                     "Total # of purchases: " : [totalPurchases],
                                     "Total Revenue" : [totalRev]})
purchasingAnalysis_df

,Average purchase price,Number of unique items,Total # of purchases:,Total Revenue
0,$2.93,183,780,"$2,286.33"

In [80]:
#gender demographics
#Gender Demographics
df_gender_percentbreakdown = purchase_data_df["Gender"].value_counts(normalize=True)



gender_summary_table = pd.DataFrame({
                           "Percentage of Players": df_gender_percentbreakdown,
                           "Total Count": df_gender_breakdown})
gender_summary_table

                       Percentage of Players  Total Count
Male                                   $0.81          465
Female                                 $0.17          100
Other / Non-Disclosed                  $0.01            8

In [89]:
#gender purchase analysis
genderGroupBy_df = purchase_data_df.groupby(["Gender"])
avgPurchasePrice = round(genderGroupBy_df['Price'].mean(),2)
totalPurchasePrice = genderGroupBy_df['Price'].sum()
normalizedTotal = totalPurchasePrice/df_gender_breakdown
normalizedTotal

gender_purchase_analysis = pd.DataFrame({
                                       "Purchase Count" : df_gender_breakdown,
                                       "Average Purchase Price" : avgPurchasePrice,
                                       "Total Purchase Value" : totalPurchasePrice, 
                                       "Normalized Totals" : normalizedTotal
                                        })
gender_purchase_analysis

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Female,$2.82,$3.83,100,$382.91
Male,$2.95,$4.02,465,"$1,867.68"
Other / Non-Disclosed,$3.25,$4.47,8,$35.74

In [102]:
#age demographics
ageDemographics_df = pd.DataFrame(purchase_data_df)

ageBin = [0,9,14,19,24,29,34,39,45]
ageGroupNames = ['<10', '10-14', '15-19', '20-24', 
                 '25-29','30-34','35-39','40-45']
ageBinning = pd.cut(ageDemographics_df["Age"],
                    ageBin, labels=ageGroupNames)
ageBinning.head()
purchase_data_df['Item ID'].counts()

AttributeError: 'Series' object has no attribute 'counts'